<a href="https://colab.research.google.com/github/LucaIorio26/prova/blob/main/ELABORATO%20ESAME%20ALGORITMI%20DATA%20SCIENCE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.preprocessing import StandardScaler, Normalizer
from sklearn.model_selection import train_test_split, GridSearchCV, KFold

from sklearn.ensemble  import RandomForestClassifier, GradientBoostingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

from sklearn import metrics
import pickle

In [5]:
df = pd.read_csv('/content/heart_failure_clinical_records_dataset.csv', sep = ';')
df

     age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0     75        0                       582  ...        0     4            1
1     55        0                      7861  ...        0     6            1
2     65        0                       146  ...        1     7            1
3     50        1                       111  ...        0     7            1
4     65        1                       160  ...        0     8            1
..   ...      ...                       ...  ...      ...   ...          ...
294   62        0                        61  ...        1   270            0
295   55        0                      1820  ...        0   271            0
296   45        0                      2060  ...        0   278            0
297   45        0                      2413  ...        1   280            0
298   50        0                       196  ...        1   285            0

[299 rows x 13 columns]

In [ ]:
df.describe()

In [ ]:
# si devono rimuovere alcuni valori anomali in age

In [ ]:

sns.scatterplot(data=df,x='age',y='ejection_fraction',hue='DEATH_EVENT')
sns.displot(df.age)

In [6]:
y = df['DEATH_EVENT']
X = df[['age','creatinine_phosphokinase','ejection_fraction','platelets','serum_creatinine','serum_sodium']]

scaler = StandardScaler()
scaler.fit(X)
X_scale = scaler.transform(X)

In [ ]:
qualitative =

SyntaxError: ignored

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1234, stratify=y, test_size=.30)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(209, 6) (90, 6) (209,) (90,)

In [8]:
log_reg = LogisticRegression()
knn = KNeighborsClassifier()
trees = DecisionTreeClassifier()
rand_forest = RandomForestClassifier()
svm = SVC()
naive = GaussianNB()
xgb = GradientBoostingClassifier()

In [ ]:
# TUNING HYPERPARAMETERS
grid_svm = [{'kernel': ['rbf'],'C': [0.1, 0.5, 1]},
            {'kernel': ['linear', 'poly'],  'C': [0.1, 0.5, 1]}]

grid_rand_forest = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10],
    'n_estimators': [100, 200, 300, 500]}

#grid_log_reg = {'C': [0.01, 0.1, 1]}

grid_knn = {'n_neighbors':[2,3,4,5,6,7,8,9,10,12,15,18,20,25], 'metric':['manhattan','euclidean']}

grid_tree = {'criterion':['gini','entropy'],'max_depth':[3,4,5,6,7,8,9,10,20,50,75,100]}

grid_xgb = {"criterion": ["friedman_mse",  "mae"],
              "loss":["deviance","exponential"],
              "max_features":["log2","sqrt"],
              'learning_rate': [0.01,0.05,0.1,1],
              'max_depth': [3,4,5],
              'min_samples_leaf': [4,5,6],
              'subsample': [0.6,0.7,0.8],
              'n_estimators': [50,100]}



#log_reg_cv = GridSearchCV(log_reg, grid_log_reg, cv=5, return_train_score=True)
#log_reg_cv.fit(X_train,y_train)
#pred_log_reg_cv = log_reg_cv.predict(X_test)
#score_log_reg_cv = log_reg_cv.score(X_test,y_test)


knn_cv = GridSearchCV(knn, grid_knn, cv=5, return_train_score=True)
knn_cv.fit(X_train,y_train)
pred_knn_cv = knn_cv.predict(X_test)
score_knn_cv = knn_cv.score(X_test,y_test)


svm_cv = GridSearchCV(svm, grid_svm, cv=5, return_train_score=True)
svm_cv.fit(X_train,y_train)
pred_svm_cv = svm_cv.predict(X_test)
score_svm_cv = svm_cv.score(X_test,y_test)

tree_cv = GridSearchCV(trees, grid_tree, cv=5, return_train_score=True)
tree_cv.fit(X_train,y_train)
pred_tree_cv = tree_cv.predict(X_test)
score_tree_cv = tree_cv.score(X_test,y_test)


rand_forest_cv = GridSearchCV(rand_forest, grid_rand_forest, cv=5, return_train_score=True)
rand_forest_cv.fit(X_train, y_train)
pred_rand_forest_cv = rand_forest_cv.predict(X_test)
score_rand_forest_cv = rand_forest_cv.score(X_test, y_test)


xgb_cv = GridSearchCV(xgb, grid_xgb, cv=5, return_train_score=True)
xgb_cv.fit(X_train, y_train)
pred_xgb_cv = xgb_cv.predict(X_test)
score_xgb_cv = xgb_cv.score(X_test, y_test)

In [ ]:
# ACCURACY
accuracy = [score_knn_cv, score_tree_cv, score_rand_forest_cv, score_svm_cv, score_xgb_cv] # manca la logistica
algorithm = ['KNN', 'DECISION TREE', 'RANDOM FOREST', 'SVM', 'XGB']
data_plot = pd.DataFrame(accuracy,algorithm)
sns.catplot(data=data_plot, x=accuracy, y=algorithm, kind='bar', col_order=accuracy.sort(),height=6,aspect=2)

In [ ]:
# save the model to disk
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))
 
# some time later...
 
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(X_test, Y_test)
print(result)